.today{
    flex: 6;
    padding: 12px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);

    .title{
        font-size: 28px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px ;
            border-radius: 8px;
            cursor: pointer;
            background-color: #f9f9f9;
            border-bottom: 1px solid #e0e0e0;
            transition: background-color 0.3s ease, transform 0.2s ease;


            &:hover{
                background-color: #dcdcdc;
                transform: translateY(-2px);
            }

            // &:last-child{
            //     border-bottom: none;
            // }

            input{
                margin-right: 10px;
                width: 18px;
                height: 18px;
                //cursor: pointer;
                accent-color: #007bff;
            }

            label{
                font-size: 16px;
                color: #2c2c2c;
                font-weight: 500;
                flex: 1;

                .details{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 15px;
                    padding: 8px;
                    margin-top: 5px;
                    font-size: 12px;
                    color: #666;
                    transition: opacity 0.3s ease-in-out;

                    .left{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-right: 1px solid #888;
                        gap: 5px;
                        padding-right: 10px;

                        .icon{
                            font-size: 14px !important;
                            color: #777;
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                        
                        
                    .center{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                            //border: 1px solid #888;
                            //padding-left: 8px;
                        }
                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 20px;
                            height: 15px;
                            background-color: rgb(230, 226, 226);
                            color:#333;
                            font-weight: bold;
                            border-radius: 5px;
                            font-size: 10px;
                           //margin-right: auto;
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                        .right{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                            padding-right: 10px;
                            border: 1px solid #888;
                            padding-right: 10px;


                            .color{
                                width: 12px;
                                height: 12px;
                                border-radius: 3px;
                                background-color: red;
                                border: none;
                        }
                        p {
                            font-size: 12px;
                        }
                       
                    }
                    
                    
                }
            }

        }
    }

